        <tr>
    		<td colspan="3"><b>Login Manager</b></td>
    	</tr>
    	<tr> 
            <td class="text-center"><span class="label label-success " > &nbsp; POST &nbsp;</span></td> 
            <td><a href="#goto-checkUserPassword-service">/loginManager/checkUserPassword/</a></td> 
            <td>ตรวจสอบ User & Password</td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> &nbsp;&nbsp; GET &nbsp;&nbsp; </span></td>
            <td><a href="#goto-checkPermission-service">/loginManager/checkPermission/</a></td> 
            <td>ตรวจสอบสิทธิ์ของผู้ใช้งานแต่ละระดับ</td> 
        </tr>


