![bookmark][4]{: #goto-checkPermission-service }

## <span class="label label-primary">GET</span> checkPermission [![ภาพ external-link-30x30][6]](){: href="http://localhost/rmr/build/src/api/apidoc/index.html#api-Login_Manager-CheckPermission" target="_blank"}

![separate line][1]	


1. ตรวจสอบค่าในตัวแปร Session `$_SESSION['jwt']`
2. 

