![bookmark][4]{: #goto-checkUserPassword-service }

## <span class="label label-success">POST</span> checkUserPassword [![ภาพ external-link-30x30][6]](){: href="http://localhost/rmr/build/src/api/apidoc/index.html#api-Login_Manager-CheckUserPassword" target="_blank"}

![separate line][1]	

[![ภาพ Flowchart ของ Service "checkUserPassword"][8]](){: .fancybox-button 
							data-fancybox-group="checkUserPassword-service" 
							href="<%= current_page.data.baseURL %>/images/categories/Project - RMR/restful-web-service-design-and-documentation-002-thumbnail.png"}

<p class="text-center"> 
<strong> 
<ins>รูปภาพ</ins> 
<i>Flow การทำงานของ checkUserPassword service</i>
</strong>
 
<a href="https://www.draw.io/#Drestful-checkUserPassword.html" target="_blank">
<img src="<%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png">
</a>
</p>