    	<tr>
    		<td colspan="3"><b>RTU Manager</b></td>
    	</tr>
        <tr> 
            <td class="text-center"><span class="label label-primary"> &nbsp;&nbsp; GET &nbsp;&nbsp; </span></td> 
            <td><a href="#goto-listRTUFromBranch-service">/rtuManager/listRTUFromBranch/</a></td> 
            <td>ข้อมูลรายละเอียดพื้นฐานเกี่ยวกับ RTU</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-success " > &nbsp; POST &nbsp;</span></td> 
            <td><a href="#goto-addNewRTU-service">/rtuManager/addNewRTU/</a></td> 
            <td>เพ่ิมข้อมูล RTU ตัวใหม่</td> 
        </tr>