![bookmark][4]{: #goto-listRTUFromBranch-service }

## <span class="label label-primary">GET</span> listRTUFromBranch [![ภาพ external-link-30x30][6]](){: href="http://localhost/rmr/build/src/api/apidoc/index.html#api-RTU_Manager-ListRTUFromBranch" target="_blank"}

![separate line][1]	


[![ภาพ Flowchart ของ Service "listRTUFromBranch"][7]](){: .fancybox-button 
							data-fancybox-group="listRTUFromBranch-service" 
							href="<%= current_page.data.baseURL %>/images/categories/Project - RMR/restful-web-service-design-and-documentation-001-thumbnail.png"}

<p class="text-center"> 
<strong> 
<ins>รูปภาพ</ins> 
<i>Flow การทำงานของ listRTUFromBranch service</i>
</strong>
 
<a href="https://www.draw.io/#Drestful-listRTUFromBranch.html" target="_blank">
<img src="<%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png">
</a>
</p>