    	<tr>
    		<td colspan="3"><b>WLMA Manager</b></td>
    	</tr>
        <tr> 
            <td class="text-center"><span class="label label-success " > &nbsp; POST &nbsp;</span></td> 
            <td>/token</td> 
            <td>ข้อมูลรายละเอียดพื้นฐานเกี่ยวกับ RTU</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-danger">DELETE</span></td> 
            <td>/token</td> 
            <td>ข้อมูลรายละเอียดพื้นฐานเกี่ยวกับ RTU</td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-warning">&nbsp;&nbsp; PUT &nbsp;&nbsp;</span></td> 
            <td>/token</td> 
            <td>ข้อมูลรายละเอียดพื้นฐานเกี่ยวกับ RTU</td> 
        </tr> 