<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Bounds.js</string>
		</array>
		<array>
			<string>Class.js</string>
		</array>
		<array>
			<string>Date.js</string>
		</array>
		<array>
			<string>Element.js</string>
		</array>
		<array>
			<string>LonLat.js</string>
		</array>
		<array>
			<string>Pixel.js</string>
		</array>
		<array>
			<string>Size.js</string>
		</array>
	</array>
</dict>
</plist>
