[![_try-if-statement-001][1]](){: .fancybox-button 
               data-fancybox-group="if-statements-001"
               href="<%= current_page.data.baseURL %>/images/categories/coffeescript/ternary-001.png"}

---

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#coffeescript-001">CoffeeScript</a></li>
  <li class=""><a data-toggle="tab" href="#javascript-001">JavaScript</a></li>
</ul>

<div class="tab-content">
  <div id="coffeescript-001" class="tab-pane fade in active">
    <h3>CoffeeScript</h3>
    <p>โค้ด CoffeeScript</p>
<%= partial blog_dir + "Coffeescript/partials/2016-04-11-ternary/_try-if-statement-coffeescript-001" %>
  </div>

  <div id="javascript-001" class="tab-pane fade in">
    <h3>JavaScript</h3>
    <p>ผลลัพธ์จากโค้ด CoffeeScript ที่ถูกแปลงให้อยู่ในรูปแบบ JavaScript</p>
<%= partial blog_dir + "Coffeescript/partials/2016-04-11-ternary/_try-if-statement-javascript-001" %>
  </div>

</div>