<div class="widget">
  <h5 class="widgetheading">Categories</h5>
  <ul class="cat">



    <% pages = sitemap.resources
         categories = Array.new
         for page in pages do
            if (page.data.isIndexPage)
                # a = {}
                # a["name"] = page.data.category
                # a["url"] = 'asdas'
                # a = {'name' => page.data.category, 'url' => 'asdas'}
                # a[:name] = page.data.category

                # a = Hash.new
                # a["name"] = page.data.category
                # a["url"] = page.data.urlIndexPage

                categories.insert(1, page.data.category)
            end
         end
         categories = categories.uniq
     %>

    <% categories.each do |category| %>
        <li>
            <i class="icon-angle-right"></i>
            <a href="<%= current_page.data.baseURI %><%= categoryURL_middlemanDevelopmentIndex %>"><%= category %></a>
        </li>
    <% end %>

    
  </ul>
</div>

