[![try-002][3]](){: .fancybox-button 
               data-fancybox-group="introduction-and-basics-of-coffeescript-003"
               href="<%= current_page.data.baseURL %>/images/categories/coffeescript/introduction-and-basics-of-coffeescript-003.png"}

---

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#coffeescript-002">CoffeeScript</a></li>
  <li class=""><a data-toggle="tab" href="#javascript-002">JavaScript</a></li>
</ul>

<div class="tab-content">
  <div id="coffeescript-002" class="tab-pane fade in active">
    <h3>CoffeeScript</h3>
    <p>โค้ด CoffeeScript</p>
<%= partial blog_dir + "Coffeescript/partials/2016-04-11-introduction-and-basics-of-coffeescript/_coffeescript-002" %>
  </div>

  <div id="javascript-002" class="tab-pane fade in">
    <h3>JavaScript</h3>
    <p>ผลลัพธ์จากโค้ด CoffeeScript ที่ถูกแปลงให้อยู่ในรูปแบบ JavaScript</p>
<%= partial blog_dir + "Coffeescript/partials/2016-04-11-introduction-and-basics-of-coffeescript/_javascript-002" %>
  </div>

</div>