<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>BaseTypes</string>
		<string>Control</string>
		<string>Events</string>
		<string>Feature</string>
		<string>Filter</string>
		<string>Format</string>
		<string>Geometry</string>
		<string>Handler</string>
		<string>Lang</string>
		<string>Layer</string>
		<string>Marker</string>
		<string>Popup</string>
		<string>Protocol</string>
		<string>Renderer</string>
		<string>Request</string>
		<string>Strategy</string>
		<string>Symbolizer</string>
		<string>Tile</string>
		<string>Util</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Animation.js</string>
		</array>
		<array>
			<string>BaseTypes.js</string>
		</array>
		<array>
			<string>Console.js</string>
		</array>
		<array>
			<string>Control.js</string>
		</array>
		<array>
			<string>Events.js</string>
		</array>
		<array>
			<string>Feature.js</string>
		</array>
		<array>
			<string>Filter.js</string>
		</array>
		<array>
			<string>Format.js</string>
		</array>
		<array>
			<string>Geometry.js</string>
		</array>
		<array>
			<string>Handler.js</string>
		</array>
		<array>
			<string>Icon.js</string>
		</array>
		<array>
			<string>Kinetic.js</string>
		</array>
		<array>
			<string>Lang.js</string>
		</array>
		<array>
			<string>Layer.js</string>
		</array>
		<array>
			<string>Map.js</string>
		</array>
		<array>
			<string>Marker.js</string>
		</array>
		<array>
			<string>Popup.js</string>
		</array>
		<array>
			<string>Projection.js</string>
		</array>
		<array>
			<string>Protocol.js</string>
		</array>
		<array>
			<string>Renderer.js</string>
		</array>
		<array>
			<string>Request.js</string>
		</array>
		<array>
			<string>Rule.js</string>
		</array>
		<array>
			<string>SingleFile.js</string>
		</array>
		<array>
			<string>Spherical.js</string>
		</array>
		<array>
			<string>Strategy.js</string>
		</array>
		<array>
			<string>Style.js</string>
		</array>
		<array>
			<string>Style2.js</string>
		</array>
		<array>
			<string>StyleMap.js</string>
		</array>
		<array>
			<string>Symbolizer.js</string>
		</array>
		<array>
			<string>Tile.js</string>
		</array>
		<array>
			<string>TileManager.js</string>
		</array>
		<array>
			<string>Tween.js</string>
		</array>
		<array>
			<string>Util.js</string>
		</array>
		<array>
			<string>WPSClient.js</string>
		</array>
		<array>
			<string>WPSProcess.js</string>
		</array>
	</array>
</dict>
</plist>
