---
title: "เสริมความสอดคล้องกับประโยคก่อนหน้า (too, as well, also)"
date: 2016-03-18

tags: English
published: true
category: English
thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "เวลาเราจะพูดว่า \"เช่นกัน\" หรือ \"ด้วย\" เพื่อเสริมความสอดคล้องกับประโยคก่อนหน้า"
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "English/partials/_2016-03-18-too-aswell-also.md" %>



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


