---
title: "การเปลี่ยนชื่อโฟลเดอร์ปลายทาง (build folder)"
date: 2016-03-02 
tags: Middleman Development
published: true
category: Middleman Development
thumb: "thumbnail/home-bg.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การเปลี่ยนชื่อโฟลเดอร์ปลายทาง (build folder)"
---



READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <%= partial blog_dir + "Middleman Development/partials/_2016-03-02-custom-build-folder.md" %>
        


      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>