<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>BaseTypes</string>
		<string>Control</string>
		<string>data</string>
		<string>deprecated</string>
		<string>Events</string>
		<string>Feature</string>
		<string>Filter</string>
		<string>Format</string>
		<string>Geometry</string>
		<string>Handler</string>
		<string>Layer</string>
		<string>manual</string>
		<string>Marker</string>
		<string>Popup</string>
		<string>Protocol</string>
		<string>Renderer</string>
		<string>Request</string>
		<string>selenium</string>
		<string>speed</string>
		<string>Strategy</string>
		<string>Symbolizer</string>
		<string>Tile</string>
		<string>Util</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>data_Layer_Text_textfile.txt</string>
		</array>
		<array>
			<string>data_Layer_Text_textfile_2.txt</string>
		</array>
		<array>
			<string>data_Layer_Text_textfile_overflow.txt</string>
		</array>
		<array>
			<string>georss.txt</string>
		</array>
		<array>
			<string>node.js</string>
		</array>
		<array>
			<string>OLLoader.js</string>
		</array>
		<array>
			<string>README.txt</string>
		</array>
		<array>
			<string>Test.AnotherWay.baseadditions.js</string>
		</array>
		<array>
			<string>Test.AnotherWay.geom_eq.js</string>
		</array>
		<array>
			<string>Test.AnotherWay.js</string>
		</array>
		<array>
			<string>Test.AnotherWay.xml_eq.js</string>
		</array>
		<array>
			<string>throws.js</string>
		</array>
		<array>
			<string>Util_common.js</string>
		</array>
	</array>
</dict>
</plist>
