---
title: "การต่อหน้าจอ Mac แสดงผลบนจอคอมพิวเตอร์ภายนอก"
date: 2016-03-04
category: Mac OS X
tags: 
published: true
category: Mac OS X
thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "มาทดลองเชื่อมต่อหน้าจอ Mac เพื่อแสดงผลบนจอคอมพิวเตอร์ภายนอก กันครับ..."
orderText: 2
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Mac OS X/partials/_2016-03-04-mac-external-display.md" %>

      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


