<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ar.js</string>
		</array>
		<array>
			<string>be-tarask.js</string>
		</array>
		<array>
			<string>bg.js</string>
		</array>
		<array>
			<string>br.js</string>
		</array>
		<array>
			<string>ca.js</string>
		</array>
		<array>
			<string>cs-CZ.js</string>
		</array>
		<array>
			<string>da-DK.js</string>
		</array>
		<array>
			<string>de.js</string>
		</array>
		<array>
			<string>el.js</string>
		</array>
		<array>
			<string>en-CA.js</string>
		</array>
		<array>
			<string>en.js</string>
		</array>
		<array>
			<string>es.js</string>
		</array>
		<array>
			<string>fi.js</string>
		</array>
		<array>
			<string>fr.js</string>
		</array>
		<array>
			<string>fur.js</string>
		</array>
		<array>
			<string>gl.js</string>
		</array>
		<array>
			<string>gsw.js</string>
		</array>
		<array>
			<string>hr.js</string>
		</array>
		<array>
			<string>hsb.js</string>
		</array>
		<array>
			<string>hu.js</string>
		</array>
		<array>
			<string>ia.js</string>
		</array>
		<array>
			<string>id.js</string>
		</array>
		<array>
			<string>io.js</string>
		</array>
		<array>
			<string>is.js</string>
		</array>
		<array>
			<string>it.js</string>
		</array>
		<array>
			<string>ja.js</string>
		</array>
		<array>
			<string>km.js</string>
		</array>
		<array>
			<string>ksh.js</string>
		</array>
		<array>
			<string>lt.js</string>
		</array>
		<array>
			<string>nb.js</string>
		</array>
		<array>
			<string>nds.js</string>
		</array>
		<array>
			<string>nl.js</string>
		</array>
		<array>
			<string>nn.js</string>
		</array>
		<array>
			<string>oc.js</string>
		</array>
		<array>
			<string>pl.js</string>
		</array>
		<array>
			<string>pt-BR.js</string>
		</array>
		<array>
			<string>pt.js</string>
		</array>
		<array>
			<string>ro.js</string>
		</array>
		<array>
			<string>ru.js</string>
		</array>
		<array>
			<string>sk.js</string>
		</array>
		<array>
			<string>sv-SE.js</string>
		</array>
		<array>
			<string>te.js</string>
		</array>
		<array>
			<string>vi.js</string>
		</array>
		<array>
			<string>zh-CN.js</string>
		</array>
		<array>
			<string>zh-TW.js</string>
		</array>
	</array>
</dict>
</plist>
