![bookmark][common-04]{: #goto-day2 }

## นวัตกรรมบริการ

---

#### Overview ![separate line sub topic][common-08] 

---

<br/>

![bookmark][common-04]{: #goto-day2-01 }

#### 1. Service Innovation at a Glance ![separate line sub topic][common-08] 

<div class="post-video">
	<div class="post-heading">
	<h5><a href="#">How zipcar works ...</a></h5>
	</div>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/6tnoY51Nk6s" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


---

<div class="post-video">
	<div class="post-heading">
	<h5><a href="#">Pay Per Laugh Theater</a></h5>
	</div>
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/5yonV64s7go" frameborder="0" allowfullscreen></iframe>
	</div>
</div>


---

<br/>

![bookmark][common-04]{: #goto-day2-02 }

#### 2. Types of Service Innovation ![separate line sub topic][common-08] 


---

<br/>

![bookmark][common-04]{: #goto-day2-03 }

#### 3. Types of Service Innovation ![separate line sub topic][common-08] 


---

<br/>

![bookmark][common-04]{: #goto-day2-04 }

#### 4. Case Studies ![separate line sub topic][common-08] 


---