<table class="table table-bordered"> 
    <thead> 
        <tr> 
            <th class="text-center" style="width: 20px">#</th> 
            <th class="text-center">หัวข้อ</th> 
            <th class="text-center" style="width: 180px">วิทยากร</th>
        </tr> 
    </thead> 
    <tbody> 
    	<tr class="active">
    		<td colspan="2"><b>หลักการพื้นฐานของวิทยาการบริการ</b></td>
    		<td>ดร. มนู อรดดี ลเชษฐ์</td>
    	</tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-day1-01-01">"Digital Technology" และ "Connectivity"</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-day1-01-02">การจัดการธุรกิจและองค์กรในยุคดิจิทัล - Reinventing business in a connected world</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-day1-01-03">วิทยาการบริการกับธุรกิจในยุค Connected World</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td rowspan="5" class="text-center"><span class="label label-primary"></span></td> 
            <td><a href="#goto-day1-01-03-01"><small>- รูปแบบธุรกิจที่เปลี่ยนไปในยุค Connected World</small></a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <!-- <td class="text-center"><span class="label label-primary"></span></td>  -->
            <td><a href="#goto-day1-01-03-02"><small>- Value creation logic</small></a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <!-- <td class="text-center"><span class="label label-primary"></span></td>  -->
            <td><a href="#goto-day1-01-03-03"><small>- Service Science Axioms</small></a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <!-- <td class="text-center"><span class="label label-primary"></span></td>  -->
            <td><a href="#goto-day1-01-03-04"><small>- Density Principles</small></a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <!-- <td class="text-center"><span class="label label-primary"></span></td>  -->
            <td><a href="#goto-day1-01-03-05"><small>- องค์ประกอบที่ทําให้เกิดคุณค่าภายใต้ Networked Business ตามหลักการของ Service Science</small></a></td> 
            <td></td> 
        </tr> 
        <tr class="active">
    		<td colspan="2"><b>นวัตกรรมบริการ</b></td>
    		<td>ดร.สาวิตรี สุทธิจักร์</td> 
    	</tr>
    	<tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-day2-01">Service Innovation at a Glance</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-day2-02">Types of Service Innovation</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-day2-03">Designing Service Strategies</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">4</span></td> 
            <td><a href="#goto-day2-04">Case Studies</a></td> 
            <td></td> 
        </tr> 
        <tr class="active">
    		<td colspan="2"><b>Service BiZ canvas เพื่อเชื่อมโยง Service Blueprinting <br/>ในการออกแบบเชิงแนวคิด (Conceptual design)</b></td>
    		<td>ดร.สาวิตรี สุทธิจักร์</td> 
    	</tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Service Business Model Canvas</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Service Blueprint</a></td> 
            <td></td> 
        </tr> 
    	<tr class="active">
    		<td colspan="2"><b>Workshop: การออกแบบเชิงแนวคิดของระบบบริการของธุรกิจค้าปลีก</b></td>
    		<td>ดร.สาวิตรี สุทธิจักร์</td> 
    	</tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Workshop # 1</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Workshop # 2</a></td> 
            <td></td> 
        </tr> 
    	<tr class="active">
    		<td colspan="2"><b>หลักการออกแบบกระบวนการ (Business Process Model for Manager I)</b></td>
    		<td>ดร. มนู อรดดี ลเชษฐ์</td> 
    	</tr>
    	<tr class="active">
    		<td colspan="2"><b>Introducing Bizagi: Workshop BPMN for manager I with Bizagi</b></td>
    		<td>ดร. มนู อรดดี ลเชษฐ์</td> 
    	</tr>
    	<tr class="active">
    		<td colspan="2"><b>หลักการออกแบบกระบวนการ (Business Process Model for Manager II)</b></td>
    		<td>ดร. มนู อรดดี ลเชษฐ์</td> 
    	</tr>
    	<tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Workshop BPMN for manager II</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Assign a case study on Business Process for Retail</a></td> 
            <td></td> 
        </tr> 
        <tr> 
            <td class="text-center"><span class="label label-primary">3</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Work on Blueprint Design for Retail</a></td> 
            <td></td> 
        </tr> 
    	<tr class="active">
    		<td colspan="2"><b>Workshop on Business Process for Retail</b></td>
    		<td>ดร. มนู อรดดี ลเชษฐ์</td> 
    	</tr>
    	<tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Workshop on Business Process for Retail</a></td> 
            <td></td> 
        </tr>
        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">Presentation & Wrap up (Close)</a></td> 
            <td></td> 
        </tr>
        <tr class="active">
    		<td colspan="2"><b>ไอเดียการทำนวัตรกรรมบริการของฉัน</b></td>
    		<td>นายอนุสรณ์ กาญจนางกูร</td> 
    	</tr>
    	<tr> 
            <td class="text-center"><span class="label label-primary">1</span></td> 
            <td><a href="#goto-rtu_pin_code_tb">การจัดคิวการเข้ารับการรักษาพยาบาล</a></td> 
            <td></td> 
        </tr> 
    </tbody> 
</table>