<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>examples</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>API.md</string>
		</array>
		<array>
			<string>CONTRIBUTING.md</string>
		</array>
		<array>
			<string>excanvas.js</string>
		</array>
		<array>
			<string>excanvas.min.js</string>
		</array>
		<array>
			<string>FAQ.md</string>
		</array>
		<array>
			<string>jquery.colorhelpers.js</string>
		</array>
		<array>
			<string>jquery.flot.canvas.js</string>
		</array>
		<array>
			<string>jquery.flot.categories.js</string>
		</array>
		<array>
			<string>jquery.flot.crosshair.js</string>
		</array>
		<array>
			<string>jquery.flot.errorbars.js</string>
		</array>
		<array>
			<string>jquery.flot.fillbetween.js</string>
		</array>
		<array>
			<string>jquery.flot.image.js</string>
		</array>
		<array>
			<string>jquery.flot.js</string>
		</array>
		<array>
			<string>jquery.flot.navigate.js</string>
		</array>
		<array>
			<string>jquery.flot.pie.js</string>
		</array>
		<array>
			<string>jquery.flot.resize.js</string>
		</array>
		<array>
			<string>jquery.flot.selection.js</string>
		</array>
		<array>
			<string>jquery.flot.stack.js</string>
		</array>
		<array>
			<string>jquery.flot.symbol.js</string>
		</array>
		<array>
			<string>jquery.flot.threshold.js</string>
		</array>
		<array>
			<string>jquery.flot.time.js</string>
		</array>
		<array>
			<string>jquery.js</string>
		</array>
		<array>
			<string>LICENSE.txt</string>
		</array>
		<array>
			<string>NEWS.md</string>
		</array>
		<array>
			<string>PLUGINS.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
</dict>
</plist>
