---
title: "code-blocks-in-lua-loops (Basic)"
date: 2016-03-06
category: Lua
tags: Lua
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "code-blocks-in-lua-loops"
orderText: 7
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Lua/partials/_2016-03-06-basic-lua-07-code-blocks-in-lua-loops.md" %>



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


