---
title: "การใช้งาน Shortcut สำหรับ Maya 2017"
date: 2016-11-04

tags: Maya 2017
published: true
category: Maya 2017
thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "มาลองทำความรู้จักกับ Shortcut สำหรับโปรแกรม Maya กันครับ..."
orderText: 1
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Maya 2017/partials/_2016-11-04-maya-shortcut.md" %>



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


