---
title: "การออกแบบและการกำหนดสิทธิ์การใช้งานระบบ RMR"
date: 2016-02-16
category: Project - RMR
tags: Project - RMR
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การออกแบบและการกำหนดสิทธิ์การใช้งานระบบ (Authentication & Access rule)"
orderText: 4
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Project - RMR/partials/_2016-02-16-authentication-and-access-rule.md" %>
      



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


