---
title: "การสร้าง RESTful Web Service สำหรับดึงข้อมูล RTU จากระบบ WLMA"
date: 2016-02-02
category: Project - RMR
tags: Project - RMR
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การสร้าง RESTful Web Service สำหรับดึงข้อมูล RTU จากระบบ WLMA"
orderText: 5
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Project - RMR/partials/_creating-restful-for-consume-rtu-information.md" %>
      



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


