

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#example-001-html">HTML</a></li>
  <li class=""><a data-toggle="tab" href="#example-001-js">JavaScript</a></li>
  <li class=""><a data-toggle="tab" href="#example-001-css">StyleSheet</a></li>
</ul>

<div class="tab-content">
  <div id="example-001-html" class="tab-pane fade in active">
    <h3>HTML</h3>
    <p>ส่วนที่เป็น HTML</p>
    
    <%= partial blog_dir + "VueJS/partials/2016-11-20-class-and-style-binding/example-001/_example-001-html" %>
  </div>

  <div id="example-001-js" class="tab-pane fade in">
    <h3>JavaScript</h3>
    <p>ส่วนที่เป็น JavaScript</p>

    <%= partial blog_dir + "VueJS/partials/2016-11-20-class-and-style-binding/example-001/_example-001-js" %>
  </div>

  <div id="example-001-css" class="tab-pane fade in">
    <h3>Stylesheet</h3>
    <p>ส่วนที่เป็น Stylesheet</p>

    <%= partial blog_dir + "VueJS/partials/2016-11-20-class-and-style-binding/example-001/_example-001-css" %>
  </div>

</div>

<hr/>

<script async src="//jsfiddle.net/anusorn/41b22c17/4/embed/"></script>