---
title: "ทำความรู้จัก Optionals"
date: 2016-01-16 12:43
category: Swift 2
tags: Swift 2.x
published: true
category: Swift 2
thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "มาทำความรู้จัก Optionals สิ่งที่แปลกใหม่ ในภาษา Swift กันครับ..."
orderText: 8
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Swift 2/partials/_2016-01-16-chap08-optionals.md" %>

      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


