---
title: "การใช้งาน swift - 001"
date: 2016-01-03
category: Swift 2
tags: Swift 2.x
published: true
thumb: "thumbnail/home-bg.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!"
---



READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">








<%= partial blog_dir + "partials/partials_2016-01-03-swift-001-001/_content.md" %>





        


      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


