![bookmark][4]{: #goto-permission_tb }

## ฐานข้อมูล <i>permission_tb</i>
![separate line][1]	


---


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#permission_tb-description">Description</a></li>
  <li><a data-toggle="tab" href="#permission_tb-mySQL">MySQL</a></li>
</ul>

<div class="tab-content">
  <div id="permission_tb-description" class="tab-pane fade in active">
    <h3>Description</h3>
    <p>คำอธิบาย ฐานข้อมูล <strong>permission_tb</strong></p>

<%= partial blog_dir + "Project - RMR/partials/database-design/_permission_tb-description" %>

  </div>
  <div id="permission_tb-mySQL" class="tab-pane fade">
    <h3>MySQL</h3>
    <p>Script สำหรับฐานข้อมูล MySQL</p>

<%= partial blog_dir + "Project - RMR/partials/database-design/_permission_tb-script-MySQL" %>

  </div>
</div>

<br/>


[![ภาพแสดง ตัวอย่างข้อมูลในฐานข้อมูล permission_tb][8]](){: .fancybox-button 
              data-fancybox-group="database-design-002" 
              href="<%= current_page.data.baseURL %>images/categories/Project - RMR/database-design-002.png"}  


<p class="text-center"> 
<strong> <ins>ภาพแสดง</ins> <i>ตัวอย่างข้อมูลในฐานข้อมูล <mark>permission_tb</mark></i></strong> 
<a href="https://docs.google.com/spreadsheets/d/16HRk0iAjM7FxMOjMs-hU0h6mFMpg3DFc8f7WOEC6NTc/edit#gid=1602244099" target="_blank">
<img src="<%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png">
</a>
</p>

<br/>

