<table class="table table-striped table-bordered"> 
    <thead> 
        <tr> 
            <th>Field Name</th> 
            <th>Description</th>
            <th>Field Type</th>
            <th>Null</th>
            <th>PK/FK</th>
            <th>Default Value</th>
        </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <td>id</td> 
            <td>เลขลำดับ</td> 
            <td>INT(6)</td>
            <td></td>
            <td>PK</td>
            <td></td>
        </tr> 
        <tr> 
            <td>page_name</td> 
            <td>ชื่อของหน้า Web Page</td> 
            <td>VARCHAR(100)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>page_path</td> 
            <td>path URL</td> 
            <td>VARCHAR(255)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>feature_name</td> 
            <td>ชื่อของแต่ละ Feature ในหน้า Web Page นั้นๆ</td> 
            <td>VARCHAR(100)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>feature_desc</td> 
            <td>คำอธิบายแต่ละ Feature</td> 
            <td>VARCHAR(255)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>role</td> 
            <td>ระดับสิทธิ์</td> 
            <td>VARCHAR(100)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>visible</td> 
            <td>อนุญาติให้สามารถมองเห็นได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>allow_read</td> 
            <td>อนุญาติให้สามารถอ่านได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>allow_write</td> 
            <td>อนุญาติให้สามารถเพิ่มข้อมูลได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>allow_update</td> 
            <td>อนุญาติให้สามารถอัพเดตข้อมูลได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>allow_delete</td> 
            <td>อนุญาติให้สามารถลบข้อมูลได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>print</td> 
            <td>อนุญาติให้สามารถปริ๊นข้อมูลได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>pdf</td> 
            <td>อนุญาติให้สามารถ export ข้อมูลในรูปแบบ pdf file ได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>excel</td> 
            <td>อนุญาติให้สามารถ export ข้อมูลในรูปแบบ excel file ได้หรือไม่? (Y/N)</td> 
            <td>VARCHAR(1)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
        <tr> 
            <td>remark</td> 
            <td>หมายเหตุ</td> 
            <td>VARCHAR(255)</td>
            <td></td>
            <td></td>
            <td></td>
        </tr> 
    </tbody> 
</table>