![bookmark][4]{: #goto-rtu_main_tb }

## ฐานข้อมูล <i>rtu_main_tb</i>
![separate line][1]	


---


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#rtu_main_tb-description">Description</a></li>
  <li><a data-toggle="tab" href="#rtu_main_tb-mySQL">MySQL</a></li>
</ul>

<div class="tab-content">
  <div id="rtu_main_tb-description" class="tab-pane fade in active">
    <h3>Description</h3>
    <p>คำอธิบาย ฐานข้อมูล <strong>rtu_main_tb</strong></p>

<%= partial blog_dir + "Project - RMR/partials/database-design/_rtu_main_tb-description" %>

  </div>
  <div id="rtu_main_tb-mySQL" class="tab-pane fade">
    <h3>MySQL</h3>
    <p>Script สำหรับฐานข้อมูล MySQL</p>

<%= partial blog_dir + "Project - RMR/partials/database-design/_rtu_main_tb-script-MySQL" %>

  </div>
</div>

<br/>


[![ภาพแสดง ตัวอย่างข้อมูลในฐานข้อมูล rtu_main_tb][10]](){: .fancybox-button 
              data-fancybox-group="database-design-004" 
              href="<%= current_page.data.baseURL %>images/categories/Project - RMR/database-design-004.png"}  




<p class="text-center"> 
<strong> <ins>ภาพแสดง</ins> <i>ตัวอย่างข้อมูลในฐานข้อมูล <mark>rtu_main_tb</mark></i></strong> 
<a href="https://docs.google.com/spreadsheets/d/16HRk0iAjM7FxMOjMs-hU0h6mFMpg3DFc8f7WOEC6NTc/edit#gid=0" target="_blank">
<img src="<%= current_page.data.baseURL %>images/blog-common/external-link-15x15.png">
</a>
</p>


<br/>

