<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>ModifyFeature</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ArgParser.js</string>
		</array>
		<array>
			<string>Attribution.js</string>
		</array>
		<array>
			<string>Button.js</string>
		</array>
		<array>
			<string>CacheRead.js</string>
		</array>
		<array>
			<string>CacheWrite.js</string>
		</array>
		<array>
			<string>DragFeature.js</string>
		</array>
		<array>
			<string>DragPan.js</string>
		</array>
		<array>
			<string>DrawFeature.js</string>
		</array>
		<array>
			<string>EditingToolbar.js</string>
		</array>
		<array>
			<string>Geolocate.js</string>
		</array>
		<array>
			<string>GetFeature.js</string>
		</array>
		<array>
			<string>Graticule.js</string>
		</array>
		<array>
			<string>KeyboardDefaults.js</string>
		</array>
		<array>
			<string>LayerSwitcher.js</string>
		</array>
		<array>
			<string>Measure.js</string>
		</array>
		<array>
			<string>ModifyFeature.js</string>
		</array>
		<array>
			<string>MousePosition.js</string>
		</array>
		<array>
			<string>Navigation.js</string>
		</array>
		<array>
			<string>NavigationHistory.js</string>
		</array>
		<array>
			<string>NavToolbar.js</string>
		</array>
		<array>
			<string>OverviewMap.js</string>
		</array>
		<array>
			<string>Pan.js</string>
		</array>
		<array>
			<string>Panel.js</string>
		</array>
		<array>
			<string>PanPanel.js</string>
		</array>
		<array>
			<string>PanZoom.js</string>
		</array>
		<array>
			<string>PanZoomBar.js</string>
		</array>
		<array>
			<string>Permalink.js</string>
		</array>
		<array>
			<string>PinchZoom.js</string>
		</array>
		<array>
			<string>Scale.js</string>
		</array>
		<array>
			<string>ScaleLine.js</string>
		</array>
		<array>
			<string>SelectFeature.js</string>
		</array>
		<array>
			<string>SLDSelect.js</string>
		</array>
		<array>
			<string>Snapping.js</string>
		</array>
		<array>
			<string>Split.js</string>
		</array>
		<array>
			<string>TextButtonPanel.js</string>
		</array>
		<array>
			<string>TouchNavigation.js</string>
		</array>
		<array>
			<string>TransformFeature.js</string>
		</array>
		<array>
			<string>UTFGrid.js</string>
		</array>
		<array>
			<string>WMSGetFeatureInfo.js</string>
		</array>
		<array>
			<string>WMTSGetFeatureInfo.js</string>
		</array>
		<array>
			<string>Zoom.js</string>
		</array>
		<array>
			<string>ZoomBox.js</string>
		</array>
		<array>
			<string>ZoomIn.js</string>
		</array>
		<array>
			<string>ZoomOut.js</string>
		</array>
		<array>
			<string>ZoomPanel.js</string>
		</array>
		<array>
			<string>ZoomToMaxExtent.js</string>
		</array>
	</array>
</dict>
</plist>
