<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>boost.js</string>
		</array>
		<array>
			<string>boost.src.js</string>
		</array>
		<array>
			<string>broken-axis.js</string>
		</array>
		<array>
			<string>broken-axis.src.js</string>
		</array>
		<array>
			<string>canvas-tools.js</string>
		</array>
		<array>
			<string>canvas-tools.src.js</string>
		</array>
		<array>
			<string>data.js</string>
		</array>
		<array>
			<string>data.src.js</string>
		</array>
		<array>
			<string>drilldown.js</string>
		</array>
		<array>
			<string>drilldown.src.js</string>
		</array>
		<array>
			<string>exporting.js</string>
		</array>
		<array>
			<string>exporting.src.js</string>
		</array>
		<array>
			<string>funnel.js</string>
		</array>
		<array>
			<string>funnel.src.js</string>
		</array>
		<array>
			<string>heatmap.js</string>
		</array>
		<array>
			<string>heatmap.src.js</string>
		</array>
		<array>
			<string>no-data-to-display.js</string>
		</array>
		<array>
			<string>no-data-to-display.src.js</string>
		</array>
		<array>
			<string>offline-exporting.js</string>
		</array>
		<array>
			<string>offline-exporting.src.js</string>
		</array>
		<array>
			<string>solid-gauge.js</string>
		</array>
		<array>
			<string>solid-gauge.src.js</string>
		</array>
		<array>
			<string>treemap.js</string>
		</array>
		<array>
			<string>treemap.src.js</string>
		</array>
	</array>
</dict>
</plist>
