<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Google</string>
		<string>Vector</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ArcGIS93Rest.js</string>
		</array>
		<array>
			<string>ArcGISCache.js</string>
		</array>
		<array>
			<string>ArcIMS.js</string>
		</array>
		<array>
			<string>Bing.js</string>
		</array>
		<array>
			<string>Boxes.js</string>
		</array>
		<array>
			<string>EventPane.js</string>
		</array>
		<array>
			<string>FixedZoomLevels.js</string>
		</array>
		<array>
			<string>GeoRSS.js</string>
		</array>
		<array>
			<string>Google.js</string>
		</array>
		<array>
			<string>Grid.js</string>
		</array>
		<array>
			<string>HTTPRequest.js</string>
		</array>
		<array>
			<string>Image.js</string>
		</array>
		<array>
			<string>KaMap.js</string>
		</array>
		<array>
			<string>KaMapCache.js</string>
		</array>
		<array>
			<string>MapGuide.js</string>
		</array>
		<array>
			<string>MapServer.js</string>
		</array>
		<array>
			<string>Markers.js</string>
		</array>
		<array>
			<string>OSM.js</string>
		</array>
		<array>
			<string>PointGrid.js</string>
		</array>
		<array>
			<string>PointTrack.js</string>
		</array>
		<array>
			<string>SphericalMercator.js</string>
		</array>
		<array>
			<string>Text.js</string>
		</array>
		<array>
			<string>TileCache.js</string>
		</array>
		<array>
			<string>TMS.js</string>
		</array>
		<array>
			<string>UTFGrid.js</string>
		</array>
		<array>
			<string>Vector.js</string>
		</array>
		<array>
			<string>WMS.js</string>
		</array>
		<array>
			<string>WMTS.js</string>
		</array>
		<array>
			<string>WorldWind.js</string>
		</array>
		<array>
			<string>XYZ.js</string>
		</array>
		<array>
			<string>Zoomify.js</string>
		</array>
	</array>
</dict>
</plist>
