<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>lang-apollo.js</string>
		</array>
		<array>
			<string>lang-basic.js</string>
		</array>
		<array>
			<string>lang-clj.js</string>
		</array>
		<array>
			<string>lang-css.js</string>
		</array>
		<array>
			<string>lang-dart.js</string>
		</array>
		<array>
			<string>lang-erlang.js</string>
		</array>
		<array>
			<string>lang-go.js</string>
		</array>
		<array>
			<string>lang-hs.js</string>
		</array>
		<array>
			<string>lang-lisp.js</string>
		</array>
		<array>
			<string>lang-llvm.js</string>
		</array>
		<array>
			<string>lang-lua.js</string>
		</array>
		<array>
			<string>lang-matlab.js</string>
		</array>
		<array>
			<string>lang-ml.js</string>
		</array>
		<array>
			<string>lang-mumps.js</string>
		</array>
		<array>
			<string>lang-n.js</string>
		</array>
		<array>
			<string>lang-pascal.js</string>
		</array>
		<array>
			<string>lang-proto.js</string>
		</array>
		<array>
			<string>lang-r.js</string>
		</array>
		<array>
			<string>lang-rd.js</string>
		</array>
		<array>
			<string>lang-scala.js</string>
		</array>
		<array>
			<string>lang-sql.js</string>
		</array>
		<array>
			<string>lang-tcl.js</string>
		</array>
		<array>
			<string>lang-tex.js</string>
		</array>
		<array>
			<string>lang-vb.js</string>
		</array>
		<array>
			<string>lang-vhdl.js</string>
		</array>
		<array>
			<string>lang-wiki.js</string>
		</array>
		<array>
			<string>lang-xq.js</string>
		</array>
		<array>
			<string>lang-yaml.js</string>
		</array>
		<array>
			<string>prettify.js</string>
		</array>
		<array>
			<string>run_prettify.js</string>
		</array>
	</array>
</dict>
</plist>
