---
title: "การใช้งาน Display Text"
date: 2016-02-23 19:00
tags: Corona SDK
published: true
category: Corona SDK
thumb: "categories/Corona SDK/installation-thumbnail.png"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การใช้งาน Display Text ใน CoronaSDK"
orderText: 3
---



READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		<%= partial blog_dir + "Corona SDK/partials/_2016-02-23-using-display-text.md" %>


      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


