---
title: "การใช้งานตัวแปร Array"
date: 2016-03-04
category: PHP
tags: PHP
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การใช้งานตัวแปร Array"
orderText: 1
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "PHP/partials/_2016-03-04-working-with-array.md" %>
      



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


