<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>BaseTypes</string>
		<string>Control</string>
		<string>Geometry</string>
		<string>Layer</string>
		<string>Popup</string>
		<string>Protocol</string>
		<string>Renderer</string>
		<string>Tile</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
</dict>
</plist>
