---
title: "การใช้งาน Cluster ใน NodeJS"
date: 2016-07-11

tags: NodeJS
published: true
category: NodeJS
thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "มาลองใช้งาน Cluster ใน NodeJS กันครับ..."
orderText: 2
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "NodeJS/partials/_2016-07-11-using-cluster-nodeJS.md" %>



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


