        <tr> 
            <td class="text-center"><span class="label label-primary">2</span></td> 
            <td><a href="#goto-topic-02">Activities</a></td> 
            <td></td> 
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td colspan="2"><span class="label label-info">2.1</span> <a href="#goto-topic-02-01"> Tasks type</a></td> 
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.1)</span> <a href="#goto-topic-02-01-01">None Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.2)</span> <a href="#goto-topic-02-01-02">User Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.3)</span> <a href="#goto-topic-02-01-03">Send Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.4)</span> <a href="#goto-topic-02-01-04">Service Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.5)</span> <a href="#goto-topic-02-01-05">Receive Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.6)</span> <a href="#goto-topic-02-01-06">Script Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.7)</span> <a href="#goto-topic-02-01-07">Manaul Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.1.8)</span> <a href="#goto-topic-02-01-08">Business Rule Tasks</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td colspan="2"><span class="label label-info">2.2</span> <a href="#goto-topic-02-02"> Subprocess type</a></td> 
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.2.1)</span> <a href="#goto-topic-02-02-01">Embedded Subprocess</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.2.2)</span> <a href="#goto-topic-02-02-02">Event Subprocess</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.2.3)</span> <a href="#goto-topic-02-02-03">Transaction Subprocess</a></td> 
            <td></td>
        </tr>
        <tr> 
            <td class="text-center"></td> 
            <td ><span class="label label-link" style="color:#5BC0DE">2.2.4)</span> <a href="#goto-topic-02-02-04">Ad-hoc Subprocess</a></td> 
            <td></td>
        </tr>