---
title: "การเขียนโปรแกรมเชิงวัตถุ (OOP)"
date: 2018-11-06
category: Python
tags: Python
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "การเขียนโปรแกรมเชิงวัตถุ (OOP) ด้วย Python"
orderText: 3
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Python/partials/_2018-11-06-python-oop.md" %>

      



      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


