<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>ArcXML</string>
		<string>CSWGetDomain</string>
		<string>CSWGetRecords</string>
		<string>Filter</string>
		<string>GML</string>
		<string>OWSCommon</string>
		<string>OWSContext</string>
		<string>SLD</string>
		<string>SOSCapabilities</string>
		<string>WCSCapabilities</string>
		<string>WCSDescribeCoverage</string>
		<string>WFSCapabilities</string>
		<string>WFST</string>
		<string>WMC</string>
		<string>WMSCapabilities</string>
		<string>WMSDescribeLayer</string>
		<string>WMTSCapabilities</string>
		<string>WPSCapabilities</string>
		<string>WPSDescribeProcess</string>
		<string>XLS</string>
		<string>XML</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>ArcXML.js</string>
		</array>
		<array>
			<string>Atom.js</string>
		</array>
		<array>
			<string>Context.js</string>
		</array>
		<array>
			<string>CQL.js</string>
		</array>
		<array>
			<string>CSWGetDomain.js</string>
		</array>
		<array>
			<string>CSWGetRecords.js</string>
		</array>
		<array>
			<string>EncodedPolyline.js</string>
		</array>
		<array>
			<string>Filter.js</string>
		</array>
		<array>
			<string>GeoJSON.js</string>
		</array>
		<array>
			<string>GeoRSS.js</string>
		</array>
		<array>
			<string>GML.js</string>
		</array>
		<array>
			<string>GPX.js</string>
		</array>
		<array>
			<string>JSON.js</string>
		</array>
		<array>
			<string>KML.js</string>
		</array>
		<array>
			<string>OGCExceptionReport.js</string>
		</array>
		<array>
			<string>OSM.js</string>
		</array>
		<array>
			<string>OWSCommon.js</string>
		</array>
		<array>
			<string>OWSContext.js</string>
		</array>
		<array>
			<string>QueryStringFilter.js</string>
		</array>
		<array>
			<string>SLD.js</string>
		</array>
		<array>
			<string>SOSCapabilities.js</string>
		</array>
		<array>
			<string>SOSGetFeatureOfInterest.js</string>
		</array>
		<array>
			<string>SOSGetObservation.js</string>
		</array>
		<array>
			<string>Text.js</string>
		</array>
		<array>
			<string>TMSCapabilities.js</string>
		</array>
		<array>
			<string>WCSCapabilities.js</string>
		</array>
		<array>
			<string>WCSDescribeCoverage.js</string>
		</array>
		<array>
			<string>WCSGetCoverage.js</string>
		</array>
		<array>
			<string>WFS.js</string>
		</array>
		<array>
			<string>WFSCapabilities.js</string>
		</array>
		<array>
			<string>WFSDescribeFeatureType.js</string>
		</array>
		<array>
			<string>WFST.js</string>
		</array>
		<array>
			<string>WKT.js</string>
		</array>
		<array>
			<string>WMC.js</string>
		</array>
		<array>
			<string>WMSCapabilities.js</string>
		</array>
		<array>
			<string>WMSDescribeLayer.js</string>
		</array>
		<array>
			<string>WMSGetFeatureInfo.js</string>
		</array>
		<array>
			<string>WMTSCapabilities.js</string>
		</array>
		<array>
			<string>WPSCapabilities.js</string>
		</array>
		<array>
			<string>WPSDescribeProcess.js</string>
		</array>
		<array>
			<string>WPSExecute.js</string>
		</array>
		<array>
			<string>XLS.js</string>
		</array>
		<array>
			<string>XML.js</string>
		</array>
	</array>
</dict>
</plist>
