---
title: "การติดตั้ง Jekyll"
date: 2016-02-20
category: Jekyll
tags: Jekyll
published: true

thumb: "thumbnail/swift-animation-001.jpg"
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

fileURL: "../../../../../../../../../"

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "มาเริ่มติดตั้ง Jekyll เพื่อใช้งานกันนะครับ"
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

		  <%= partial blog_dir + "Jekyll Development/partials/_2016-02-20-install-jekyll.md" %>
      
      


      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>


