---
title: "Theme Moderna - Components"
date: 2016-01-05 
tags: Moderna
thumb: "thumbnail/home-bg.jpg"
published: true
category: Moderna Template
layout: "layout-moderna-blog-details"
baseURL: "../../../../../../../"
baseURI: "../../../../../../.."

home_isActive: ""
home_href: "../../../../../../desktop/HOME/"

portfolio_isActive: ""
portfolio_href: "../../../../../../desktop/PORTFOLIO/"

blog_isActive: "active"
blog_href: "../../../../../../blogs/"

contact_isActive: ""
contact_href: "../../../../../../desktop/CONTACT/"

introText: "This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!This is an example article. You probably want to delete it and write your own articles!"
---

READMORE

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <%= partial blog_dir + "partials/partials_2016-01-05-moderna-components/_content" %>


      </div>
      <div class="col-lg-4">
        <%= partial blog_dir + "partials/_right-sidebar" %>
      </div>

    </div>
  </div>
</section>







		
	