<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>data</string>
		<string>gml</string>
		<string>img</string>
		<string>kml</string>
		<string>osm</string>
		<string>tasmania</string>
		<string>utfgrid</string>
		<string>xml</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>accessible-click-control.js</string>
		</array>
		<array>
			<string>accessible-panel.js</string>
		</array>
		<array>
			<string>all-overlays-google.js</string>
		</array>
		<array>
			<string>anchor-permalink.js</string>
		</array>
		<array>
			<string>animator.js</string>
		</array>
		<array>
			<string>bing-tiles-restrictedzoom.js</string>
		</array>
		<array>
			<string>bing-tiles.js</string>
		</array>
		<array>
			<string>bootstrap.js</string>
		</array>
		<array>
			<string>browser.js</string>
		</array>
		<array>
			<string>cache-read.js</string>
		</array>
		<array>
			<string>cache-write.js</string>
		</array>
		<array>
			<string>canvas-hit-detection.js</string>
		</array>
		<array>
			<string>canvas-inspector.js</string>
		</array>
		<array>
			<string>canvas.js</string>
		</array>
		<array>
			<string>clientzoom.js</string>
		</array>
		<array>
			<string>cql-format.js</string>
		</array>
		<array>
			<string>cross-origin-xml.js</string>
		</array>
		<array>
			<string>cross-origin.js</string>
		</array>
		<array>
			<string>donut.js</string>
		</array>
		<array>
			<string>draw-undo-redo.js</string>
		</array>
		<array>
			<string>editing-methods.js</string>
		</array>
		<array>
			<string>example.js</string>
		</array>
		<array>
			<string>feature-events.js</string>
		</array>
		<array>
			<string>filter-strategy.js</string>
		</array>
		<array>
			<string>fullScreen.js</string>
		</array>
		<array>
			<string>fusiontables.js</string>
		</array>
		<array>
			<string>geojson-reprojected.js</string>
		</array>
		<array>
			<string>geolocation.js</string>
		</array>
		<array>
			<string>google-static.js</string>
		</array>
		<array>
			<string>google-v3-alloverlays.js</string>
		</array>
		<array>
			<string>google.js</string>
		</array>
		<array>
			<string>graphic-name.js</string>
		</array>
		<array>
			<string>Jugl.js</string>
		</array>
		<array>
			<string>kamap.txt</string>
		</array>
		<array>
			<string>kinetic.js</string>
		</array>
		<array>
			<string>kml-layer.js</string>
		</array>
		<array>
			<string>kml-pointtrack.js</string>
		</array>
		<array>
			<string>kml-track.js</string>
		</array>
		<array>
			<string>label-scale.js</string>
		</array>
		<array>
			<string>light-basic.js</string>
		</array>
		<array>
			<string>mapbox.js</string>
		</array>
		<array>
			<string>mapquest.js</string>
		</array>
		<array>
			<string>mobile-base.js</string>
		</array>
		<array>
			<string>mobile-drawing.js</string>
		</array>
		<array>
			<string>mobile-jq.js</string>
		</array>
		<array>
			<string>mobile-layers.js</string>
		</array>
		<array>
			<string>mobile-navigation.js</string>
		</array>
		<array>
			<string>mobile-sencha.js</string>
		</array>
		<array>
			<string>mobile-wmts-vienna.js</string>
		</array>
		<array>
			<string>mobile.js</string>
		</array>
		<array>
			<string>offline-storage.js</string>
		</array>
		<array>
			<string>osm-google.js</string>
		</array>
		<array>
			<string>osm-marker-popup.js</string>
		</array>
		<array>
			<string>point-grid.js</string>
		</array>
		<array>
			<string>polar-projections.js</string>
		</array>
		<array>
			<string>simplify-linestring.js</string>
		</array>
		<array>
			<string>single-tile.js</string>
		</array>
		<array>
			<string>sld.js</string>
		</array>
		<array>
			<string>snap-grid.js</string>
		</array>
		<array>
			<string>strategy-cluster-extended.js</string>
		</array>
		<array>
			<string>style-rules.js</string>
		</array>
		<array>
			<string>textfile.txt</string>
		</array>
		<array>
			<string>tile-origin.js</string>
		</array>
		<array>
			<string>using-proj4js.js</string>
		</array>
		<array>
			<string>utfgrid-geography-class.js</string>
		</array>
		<array>
			<string>utfgrid.js</string>
		</array>
		<array>
			<string>utfgrid_twogrids.js</string>
		</array>
		<array>
			<string>web-mercator.js</string>
		</array>
		<array>
			<string>wfs-filter.js</string>
		</array>
		<array>
			<string>wfs-protocol-transactions.js</string>
		</array>
		<array>
			<string>wfs-reprojection.js</string>
		</array>
		<array>
			<string>wfs-spatial-filter.js</string>
		</array>
		<array>
			<string>wfs-states.js</string>
		</array>
		<array>
			<string>wms-long-url.js</string>
		</array>
		<array>
			<string>wmts-capabilities.js</string>
		</array>
		<array>
			<string>wmts-getfeatureinfo.js</string>
		</array>
		<array>
			<string>wmts.js</string>
		</array>
		<array>
			<string>wps-client.js</string>
		</array>
		<array>
			<string>wps.js</string>
		</array>
		<array>
			<string>zoom.js</string>
		</array>
	</array>
</dict>
</plist>
